/**{*/
/*    background-color: dimgrey;*/
/*}*/
/*@media screen and (min-width:576px){*/
*{
    font-family: 'Open Sans', sans-serif;
}

    .alert-info{
        border: 1px solid black;
        background-color: lightblue;
        width: 100%;
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.alert-info a{
    text-decoration: none;
    color: black;
}
    h1{

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-links li{
        list-style-type: none;
        background-color: lightgrey;
        border: none;
        display: flex;
        margin: 5px 25px 0 0;
        height: 2em;
        justify-content: center;
        align-items: center;

    }
    img{
        height: 25%;
        width: 100%;
    }
    p{
        font-style: italic;
        display: flex;
        flex-wrap: wrap;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
/*}*/
@media screen and (min-width:1200px){

    .hidden-on-desktop{
        display: none;
    }
    h1, nav{

        display: inline-flex;
        flex-direction: row;

    }
    h1{
        font-family: 'Open Sans', sans-serif;
        margin-right: 20em;
        font-size: 44px;
    }

    /*ul{*/
    /*    flex-direction: row;*/
    /*    justify-content: flex-end;*/
    /*}*/
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: white;

    }
    .nav-links li{
        background: white;
    }

    #main{
        float: left;
        width: 60%;
    }

    .sub-section{
       float: right;
        width: 35%;
    }
    /*section{*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    flex-direction: column;*/
    /*}*/
    footer{
        clear: both;
    }
    #social-media-links{
        display: flex;
        float: right;
        flex-direction: row;
        justify-content: flex-end;
    }

}