body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    border-radius: 10px;
    background-color: #8EACF6FF;
    margin: 10px 25px;
    border: solid;
    border-color: lightgray;
    color: blue;
    padding: 5px;
}

.message-success{
    border-radius: 10px;
    background-color: #64C09EFF;
    margin: 10px 25px;
    border: solid;
    border-color: lightgray;
    color: darkgreen;
    padding: 5px;
}

.message-warning{
    border-radius: 10px;
    background-color: #DADA82FF;
    margin: 10px 25px;
    border: solid;
    border-color: lightgray;
    color: goldenrod;
    padding: 5px;
}

.message-error{
    border-radius: 10px;
    background-color: #F3CED0FF;
    margin: 10px 25px;
    border: solid;
    border-color: lightgray;
    color: firebrick;
    padding: 5px;
}