.fancy-header {
    color: darkgoldenrod;
    text-decoration: underline;
    text-align: center;
    /*animation-fill-mode: forwards;*/
    animation-name: slidein-left;
    animation-duration: 4s;


}

@keyframes slidein-left {
    from{
        margin-left: 100%;
        width: 300%
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

h3{
    text-decoration: underline;
}

.fade-in-image {
    animation: fadeIn 8s;
    animation-name: fadeIn;
    animation-delay: 1s;

}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

html{
    height: initial;
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-e-commerce-city-double-exposure-portrait-synthesis-background-picture-image_1126040.jpg");
    background-size: 1600px;
    font-family: 'Azeret Mono', monospace;
    /*background-image: url("../img/github_symbol.jpg");*/
}

p{
    color: darkgoldenrod;
}

ol{
    list-style: upper-roman;
}
ul{
    list-style-type: circle;
}

table {
    font-size: large;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 70px;
}
td{
    border: 3px solid goldenrod;
    padding-right: 2em;
}

th{
    padding-right: 50px;
}

.product-header{
    color: firebrick;
    font-size: xxx-large;
}
.company-vision{
    font-size: xx-large;
}

/*.h1{*/
/*    font-size: 50px;*/
/*    margin-top: 10%;*/
/*    text-align: center;*/

/*    animation: fadeIn 5s;*/
/*    -webkit-animation: fadeIn 5s;*/
/*    -moz-animation: fadeIn 5s;*/
/*    -o-animation: fadeIn 5s;*/
/*    -ms-animation: fadeIn 5s;*/
/*}*/

/*@keyframes fadeIn {*/
/*    0% {opacity: 0;}*/
/*    100% {opacity: 1;}*/
/*}*/

/*@-moz-keyframes fadeIn {*/
/*    0% {opacity:0;}*/
/*    100% {opacity:1;}*/
/*}*/

/*c-border: #9F2042;*/
/*background: #E3E4DB;*/
/*c-text: #441151;*/

/*body {*/
/*    font-family: 'Alice', Helvetica, sans-serif;*/
/*}*/

/*div {*/
/*    margin: 4em auto;*/
/*    padding: 4em;*/
/*    box-sizing: border-box;*/
/*    width: 30em;*/
/*    height: 15em;*/
/*    text-align: center;*/
/*    background-color:  #E3E4DB;*/

/*}*/

/*.sparkle {*/
/*    max-width: 10em;*/
/*    color: #441151;*/
/*    margin: auto;*/
/*}*/
/*hover {*/
/*     cursor: pointer;*/
/* }*/


/*.u-hover--sparkle {*/

/*    box-sizing: border-box;*/
/*    position: relative;*/
/*    padding: 0.75em;*/
/*::before,*/
/*::after {*/
/*     content: '';*/
/*     box-sizing: border-box;*/
/*     position: absolute;*/
/*     top: 0;*/
/*     left: 0;*/
/*     height: 100%;*/
/*     width: 100%;*/
/*     transform-origin: center;*/
/* }*/

/*::before {*/
/*     border-top: 0.2em solid #9F2042;*/
/*     border-bottom: 0.2em solid #9F2042;*/
/*     transform: scale3d(0,1,1);*/
/* }*/

/*::after {*/
/*     border-left: 0.2em solid #9F2042;*/
/*     border-right: 0.2em solid #9F2042;*/
/*     transform: scale3d(1,0,1);*/
/* }*/

/*:hover::before,*/
/*:hover::after {*/
/*     transform: scale3d(1,1,1);*/
/*     transition: transform 900ms;*/
/* }*/
/*}*/